Q1. Create a python program to sort the given list of tuples based on integer value using a 
lambda function. 


[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [19]:
list_of_tuples=[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [20]:
s1_sorting=sorted(list_of_tuples,key=lambda x : x[1])

In [21]:
s1_sorting

[('Virat Kohli', 24936),
 ('Jack Kallis', 25534),
 ('Ricky Ponting', 27483),
 ('Sachin Tendulkar', 34357)]

In [23]:
for i in s1_sorting :
    print(i)

('Virat Kohli', 24936)
('Jack Kallis', 25534)
('Ricky Ponting', 27483)
('Sachin Tendulkar', 34357)

Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using 
lambda and map functions.


[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

ANS:-let's first take the list given in the question , and then perform operation as per requirements

In [24]:
l=[1,2,3,4,5,6,7,8,9,10]

In [28]:
m=map(lambda x : x*x,l)

In [29]:
m

In [30]:
for i in m :
    print(i)

1
4
9
16
25
36
49
64
81
100

let's get the list of square of the data of the given list

In [31]:
m1=m=list(map(lambda x : x*x,l))

In [32]:
m1

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and 
lambda functions


Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

ANS:- Let's take the given the list and then apply code to get expected result

In [33]:
l2=[1,2,3,4,5,6,7,8,9,10]

In [35]:
m2=tuple(map(lambda a : str(a),l2))

In [36]:
m2

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

so we got the expected result by applying and executing required code

Q4.  Write a python program using reduce function to compute the product of a list containing numbers 
from 1 to 25.

ANS:- Let's first make a list containg number or integer from 1 to 25 and then use reduce function to reduce the list

In [44]:
list_1_to_25=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

In [46]:
from functools import reduce

In [48]:
r1=reduce(lambda x,y:x*y,list_1_to_25 )

In [49]:
r1

15511210043330985984000000

hence, we have reduced the list_1_to_25 to r1
where r1=15511210043330985984000000

Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the 
filter function.


[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

ANS:- Let's first take the give list and write the required code inside the filter function to get expected result.

we have find the numbers that are divisible by 2 and 3 that is divsible 6

In [50]:
l5=[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [51]:
f1=filter(lambda x:  x%6 ==0,l5)

In [52]:
for i in f1 :
    print(i)

6
60
90
120

or, we can aslo get list of numbers that are divisible by both 2 and 3 that is divisible by 6.

In [54]:
l8=list(filter(lambda x:  x%6 ==0,l5))

In [55]:
l8

[6, 60, 90, 120]

Q6. Write a python program to find palindromes in the given list of strings using lambda and filter 
function.


['python', 'php', 'aba', 'radar', 'level']

In [56]:
strings = ['python', 'php', 'aba', 'radar', 'level']